@font-face{
  font-family: "Bellefair";
  src: url("../../public/fonts/Bellefair-Regular.ttf");
}
@font-face {
  font-family:"BarlowCondensed-Bold";
  src: url("../../public/fonts/BarlowCondensed-Bold.ttf");
}
@font-face {
  font-family:"BarlowCondensed";
  src: url("../../public/fonts/BarlowCondensed-Regular.ttf");
}
@font-face {
  font-family:"Barlow";
  src: url("../../public/fonts/Barlow-Regular.ttf");
}
body{
  background:no-repeat fixed center;
  background-size: cover;
  color:white;
  overflow:auto;
  margin: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}
body > *{
  flex:1;
}
.container{
  margin:48px 0px;
}
.home{
  background-image: url("../../public/home/background-home-desktop.jpg");
}
.destination{
  background-image: url("../../public/destination/background-destination-desktop.jpg");
}
.crew{
  background-image: url("../../public/crew/background-crew-desktop.jpg");
}
.technology{
  background-image: url("../../public/technology/background-technology-desktop.jpg");
}
header{
  margin-top:calc(( 40 / 1024 ) * 100vh );
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex:none;
}
.line{
  height:1px;
  background-color: hsla(0, 0%, 59%, 0.25);
  width:calc((560/1440)*100vw);
  z-index: 1;
  margin: 0px;
}
.lineContainer{
  display: flex;
  gap:64px;
  align-items: center;
  margin-left: 64px;
}
nav{
  backdrop-filter: blur(calc((80/25)*2));
  background-color: rgba(255, 255, 255, 0.05);
  padding:0px 64px 0px 96px;
  transform: translateX(-32px);
  font-size:16px;
  line-height:19.2%;
  display: flex;
  gap:48px;
}
.index{
  font-family: "BarlowCondensed-Bold";
  letter-spacing: 2.7px;
  font-weight: bold;
}
.Link{
  cursor: pointer;
  display:flex;
  gap:12px;
  font-family: Bellefair;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  padding:0px;
  height: 96px;
  align-items: center;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
}
.Link:hover{
  border-bottom: 3px solid white;
}
.selected{
  border-bottom: 3px solid white;
}